# dependencies (bun install)
node_modules

# output
out
dist
*.tgz
*.gz
idp.sqlite

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
src/config/private.pem
src/config/public.pem

# caches
.eslintcache
.cache
*.tsbuildinfo
.lh

# Finder (MacOS) folder config
.DS_Store